.App {
  text-align: center;
}

h1 {
  color: #282c34;
  margin-bottom: 20px;
}

.connect4-board {
  margin: 0 auto;
  border-collapse: collapse;
}

.connect4-board td {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  background-color: #87CEEB; /* Light blue for the board */
  position: relative;
}

.connect4-board .cell::after {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: white; /* Empty slot */
}

.connect4-board .cell.red::after {
  background-color: red; /* Player 1's color */
}

.connect4-board .cell.yellow::after {
  background-color: yellow; /* Player 2's color */
}

.connect4-board .cell.red.winner::after {
   box-shadow: #bcd134 0 0 0 10px; /* Highlight winner */
}
.connect4-board .cell.yellow.winner::after {
  box-shadow: #bcd134 0 0 0 10px; 
}
