.App {
  text-align: center;
}

h1 {
  color: #282c34;
  margin-bottom: 20px;
}

.connect4-board {
  margin: 0 auto;
  border-collapse: collapse;
}

.connect4-board td {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  background-color: #87CEEB; /* Light blue for the board */
  position: relative;
}

.connect4-board .cell::after {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: white; /* Empty slot */
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between the title and button */
  margin-bottom: 50px;
}

.title h1 {
  margin: 0;
  font-size: 2rem; /* Adjust size as needed */
}

.restart-button {
  font-size: 1.5rem; /* Match the size of the title */
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.restart-button:hover {
  background-color: #0056b3;
}

.connect4-board .cell.red::after {
  background-color: red; /* Player 1's color */
}

.connect4-board .cell.yellow::after {
  background-color: yellow; /* Player 2's color */
}

.connect4-board .cell.red.winner::after {
  box-shadow: #f2a007 0 0 20px 20px; /* Highlight winner */
}

.connect4-board .cell.yellow.winner::after {
  box-shadow: #f2a007 0 0 20px 20px; 
}

/* New animation for dropping effect */
@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.connect4-board .cell.red::after,
.connect4-board .cell.yellow::after {
  animation: drop 0.045s ease-out; /* Apply the drop animation */
}
